@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Tilt Neon", cursive;
}

@keyframes transcale {
  from {
    transform: translate(0, -1000px);
  }
  to {
    transform: translate(0);
  }
}
@keyframes message-pop {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes message-hide {
  from {
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
  }
  to {
    transform: translate(-50%, -50%) scale(0);
    visibility: hidden;
  }
}
.header,
.footer {
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  background-image: linear-gradient(180deg, #001936 0%, #003877 100%);
}
.header .__wrapper,
.footer .__wrapper {
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 1rem;
}
.header .--link,
.footer .--link {
  margin-right: 2rem;
  padding: 0.5rem;
  text-decoration: none;
  color: #000;
  align-self: center;
  background: #ffffff;
  border: 0;
  border-radius: 10px;
  transition: 0.2s all;
}
.header .--link:hover,
.footer .--link:hover {
  cursor: pointer;
  transform: scale(1.2);
  background-color: #e6e6e6;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
}

.app {
  position: relative;
  top: 90px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .__links a {
  color: #b8b0ff;
}

.hidden {
  display: none;
}

.message {
  z-index: 2;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  animation: 0.3s ease-in-out message-pop 1;
  color: #fff;
}
.message.success {
  border: 3px solid #005c26;
  background-color: #009c60;
}
.message.error {
  border: 3px solid #5c0000;
  background-color: #9c0000;
}
.message.message-hidden {
  animation: 0.3s ease-in-out message-hide 1;
  visibility: hidden;
}

.__divider {
  margin: 0 auto 230px;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
@media screen and (max-width: 450px) {
  .__divider {
    margin: 0;
  }
}
.__divider .--item:first-child {
  border-right: 1px solid black;
}
.__divider .--item {
  height: 300px;
  padding: 5rem 1rem;
  animation: 0.7s ease-in-out transcale 1;
}
.__divider .--item form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.__divider .--item form label {
  width: fit-content;
}
.__divider .--item form input:not([type=checkbox]) {
  margin-top: 5px;
  padding: 5px 1rem;
  outline: 0;
  border: 1px solid transparent;
  border-bottom-color: #001936;
}
.__divider .--item form input[type=checkbox] {
  accent-color: #b8b0ff;
}
.__divider .--item form input[type=submit] {
  border: 0;
  transition: 0.5s all;
}
.__divider .--item form input[type=submit]:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}
.__divider .switcher {
  margin-top: 10px;
}
.__divider .switcher a {
  color: #b8b0ff;
}
.__divider .switcher a:visited {
  color: #b8b0ff;
}

/*# sourceMappingURL=main.css.map */
