@import "../colors";

.app-title {
	text-align: center;
}

.app-stock {
	display: flex;
	flex-direction: column;
	margin: 1rem auto 200px;
	width: 50%;
	border: 1px solid #000;
	border-bottom: 0;
	.no-item {
		display: flex;
		justify-content: center;
		font-size: 1.4rem;
		border-bottom: 1px solid #000;
	}
	.stock-item {
		display: grid;
		align-items: center;
		padding: 0.4rem;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		border-bottom: 1px solid #000;
		p {
			text-align: center;
		}
		&.stock-header {
			background-color: $app-color-gradient;
			color: $white-color;
		}
		button {
			border: 0;
			padding: 0.3rem;
			color: $white-color;
			transition: 0.3s all;
			&:hover {
				cursor: pointer;
				transform: scale(1.2);
			}
		}
		.edit-button {
			background-color: #ffbb61;
			&:hover {
				background-color: darken($color: #ffbb61, $amount: 20);
			}
		}
		.del-button {
			background-color: #ff0000;
			&:hover {
				background-color: darken($color: #ff0000, $amount: 20);
			}
		}
	}
	.app-modal {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: rgba($color: #000000, $alpha: 0.2);
		.app-modal-block {
			border-radius: 10px;
			position: relative;
			padding: 2rem 1rem;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: $white-color;
			width: 50%;
			display: flex;
			flex-direction: column;
			gap: 10px;
			.close-modal {
				position: absolute;
				top: 10px;
				right: 10px;
				border: 0;
				background-color: $white-color;
				padding: 0.7rem;
				color: #ff0000;
				transition: 0.3s all;
				&:hover {
					cursor: pointer;
					background-color: darken($color: $white-color, $amount: 20);
				}
			}
			.item-delete-button {
				background-color: #a70000;
				color: $white_color;
				&:hover {
					background-color: darken($color: #a70000, $amount: 10) !important;
				}
			}
			form {
				display: flex;
				flex-direction: column;
				gap: 10px;
			}
		}
	}
}
