@import "../colors";

.app-title {
	text-align: center;
}

.app-stock {
	display: flex;
	flex-direction: column;
	margin: 1rem auto 200px;
	width: 50%;
	.no-item {
		display: flex;
		justify-content: center;
		font-size: 1.4rem;
		border-bottom: 1px solid #000;
	}
	.stock-item {
		display: grid;
		align-items: center;
		padding: 0.4rem;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		border: 1px solid #000;
		border-top: transparent;
		p {
			text-align: center;
		}
		&.stock-header {
			background-color: $app-color-gradient;
			color: $white-color;
		}
		button {
			border: 0;
			border-radius: 10px;
			padding: 0.3rem 1rem;
			color: $white-color;
			transition: 0.3s all;
			&:hover {
				cursor: pointer;
				transform: scale(1.2);
			}
		}
		.edit-button {
			background-color: #ffbb61;
			&:hover {
				background-color: darken($color: #ffbb61, $amount: 20);
			}
		}
		.del-button {
			background-color: #ff0000;
			&:hover {
				background-color: darken($color: #ff0000, $amount: 20);
			}
		}
	}
}
