@import "colors";
@import "responsive";
@import "animations";

// Componentes reusáveis
.header,
.footer {
	z-index: 1;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 1rem 0;
	background-image: linear-gradient(
		180deg,
		$app_color 0%,
		$app_color_gradient 100%
	);
	.wrapper {
		color: $white_color;
		display: flex;
		align-items: center;
		gap: 10px;
		margin: 0 1rem;
	}
	.link-button {
		margin-right: 2rem;
		padding: 0.5rem;
		text-decoration: none;
		color: #000;
		align-self: center;
		background: $white_color;
		border: 0;
		border-radius: 10px;
		transition: 0.2s all;
		&:hover {
			cursor: pointer;
			transform: scale(1.2);
			background-color: darken($color: $white_color, $amount: 10);
		}
	}
	.links a {
		color: $link_color;
	}
}

.header {
	position: fixed;
	top: 0;
	left: 0;
}

.app {
	position: relative;
	top: 90px;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.hidden {
	display: none;
}

.message {
	z-index: 2;
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	animation: 0.3s ease-in-out message-pop 1;
	color: #fff;
	&.success {
		border: 3px solid #005c26;
		background-color: #009c60;
	}
	&.error {
		border: 3px solid #5c0000;
		background-color: #9c0000;
	}
	&.message-hidden {
		animation: 0.3s ease-in-out message-hide 1;
		visibility: hidden;
	}
}

// Componentes Index
.app__divider {
	margin: 0 auto 230px;
	@include mobile() {
		margin: 0;
	}
	width: 50%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	.divider__item:first-child {
		border-right: 1px solid black;
	}
	.divider__item {
		height: 300px;
		padding: 5rem 1rem;
		animation: 0.7s ease-in-out transcale 1;
	}
	.divider__item form {
		display: flex;
		flex-direction: column;
		gap: 10px;
		label {
			width: fit-content;
		}
		input:not([type="checkbox"]) {
			margin-top: 5px;
			padding: 5px 1rem;
			outline: 0;
			border: 1px solid transparent;
			border-bottom-color: $app_color;
		}
		input[type="checkbox"] {
			accent-color: $link_color;
		}
		input[type="submit"] {
			border: 0;
			transition: 0.5s all;
			&:hover {
				cursor: pointer;
				background-color: darken($color: #fff, $amount: 10);
			}
		}
	}
	.switcher {
		margin-top: 10px;
		a {
			color: $link_color;
			&:visited {
				color: $link_color;
			}
		}
	}
}
